@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
}

@layer components{
    
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  transition: all 1s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #121212 !important;
  transition: all 1s ease-in-out;
  border-radius: 20px;
}

.custom-scrollbar[data-theme="dark"]::-webkit-scrollbar-thumb {
  background: #F0E9D8 !important;
  transition: all 1s ease-in-out;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}